<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
   <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              value={{getLastName()}}
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control">
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="dob">Date Of Birth</label>
            <input
              type="text"
              id="dob"
              formControlName="dob"
              class="form-control">
          </div>
        </div>
      </div>
      

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="econsent"> Consent for Background Data</label>
            <input
              type="checkbox"
              id="econsent"
              formControlName="econsent"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!profileForm.valid">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
   
    
    </form>
  </div>
</div>
